body{
    background-color: rgb(161, 168, 165);
}
h1{
font-size:44px;
}


h2{
    font: size 40px;

}

h3{
    font: size 36px;

}
p{
    font: size 30px;

}
ol{
    font: size 30px;
}